%table.table.table-hover
  %thead
    %tr
      %th
        %span.in-grey-600= t('orders.number')
      %th
        %span.in-grey-600= t('orders.completed_at')
      %th
        %span.in-grey-600= t('orders.status')
      %th
        %span.in-grey-600= t('orders.total')
  %tbody
    - @orders.each do |order|
      %tr
        %td
          = link_to order_path(order.id) do
            %span.general-order-number= order.id
        %td
          %span.in-grey-900.font-16.font-weight-light= order.decorate.confirmed_at
        %td
          %span.font-16.in-grey-900.font-weight-light= t("orders.#{order.aasm_state}")
        %td
          %strong.font-16= order.decorate.total_sum