= form_for current_user, url: user_registration_path, method: :patch, class: "general-form-md pb-25" do |field|
  .form-group.mb-30
    = field.label :current_password, t('labels.old_password'), class: "control-label font-weight-light"
    = field.text_field :current_password, placeholder: t('labels.old_password'), class: "form-control"
  .form-group.mb-30
    = field.label :password, t('labels.new_password'), class: "control-label font-weight-light"
    = field.text_field :password, placeholder: t('labels.new_password'), class: "form-control"
  .form-group.mb-40
    = field.label :password_confirmation, t('labels.confirm_password'), class: "control-label font-weight-light"
    = field.text_field :password_confirmation, placeholder: t('labels.confirm_password'), class: "form-control"
  .general-text-align
    = field.submit t('setting.save'), class: "btn mb-10"